
  - hosts: all
    become: true

    vars:
      script_path: "{{ tmp_path }}/tests/install"
      script_name: "{{ test_name }}.py"
    
    tasks:
      - name: Test AIO install with Installation assistant
        command: "python3 -m pytest --tb=long {{ script_name }} -v -m \"wazuh or wazuh_worker or indexer or dashboard\""
        args:
          chdir: "{{ script_path }}"
        register: test_results
