on:
  pull_request:
    paths:
      - 'passwords_tool/**'

jobs:
  Build-password-tool-and-wazuh-install-scripts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build password-tool and wazuh-install scripts
        run: |
          bash builder.sh -p
          bash builder.sh -i -d staging
        shell: bash
      - uses: actions/upload-artifact@v4
        with:
          name: scripts
          path: |
            ./wazuh-install.sh
            ./wazuh-passwords-tool.sh
          if-no-files-found: error

  test-password-tool-success:
    runs-on: ubuntu-latest
    needs: Build-password-tool-and-wazuh-install-scripts
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: scripts
      - name: Install wazuh
        run: |
          sudo bash wazuh-install.sh -a -v
      - name: Uncompress wazuh install files
        run: sudo tar -xvf wazuh-install-files.tar
      - name: Run script
        run: sudo bash .github/actions/passwords-tool/tests-stack-success.sh

  test-password-tool-failure:
    runs-on: ubuntu-latest
    needs: Build-password-tool-and-wazuh-install-scripts
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: scripts
      - name: Install wazuh
        run: |
          sudo bash wazuh-install.sh -a -v
      - name: Uncompress wazuh install files
        run: sudo tar -xvf wazuh-install-files.tar
      - name: Run script
        run: sudo bash .github/actions/passwords-tool/tests-stack-failure.sh
